<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="org.codeforcoffee.exoplanetarchive">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="org.codeforcoffee.exoplanetarchive.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="org.codeforcoffee.exoplanetarchive.StellarCategoryListActivity"
            android:label="@string/title_stellarcategory_list"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="org.codeforcoffee.exoplanetarchive.StellarCategoryDetailActivity"
            android:label="@string/title_stellarcategory_detail"
            android:parentActivityName="org.codeforcoffee.exoplanetarchive.StellarCategoryListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.codeforcoffee.exoplanetarchive.StellarCategoryListActivity"/>
        </activity>
    </application>

</manifest>